*.class
*.log
.idea
**/target
**/.terraform
**/.terraform.lock.hcl
**/terraform.tfstate*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

__pycache__
*.iml
*_pb2.py
python
